body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma,  Verdana, sans-serif;
    background-color: #f2f2f2;
}


header {
    
    text-align: center;
    padding: 20px;
    background-color:rgb(187, 219, 240);
    
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

header h1 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: #333333;
}

header h3 {
    margin: 0;
    font-size: 13px;
    color: #666666;
}

.subtitulo {
    margin-top: 10px;
    font-size: 14px;
    color: #999999;
}


aside {
    background-color: #ffffff;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
 
}

aside h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    font-size: 20px;
    color: #333333;
}


ul, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

ul li,
p {
    margin-bottom: 5px;
    font-size: 13px;
    color: #666666;
}


footer {
    text-align: center;
    padding: 30px;
    background-color: #ffffff;
   
}
